.msg{
    font-size: .8rem;
    padding: 5px 15px;
    width: fit-content;
    margin: 10px 0;
    border-radius: 5px;
    transform: translate(-500px);
    transition: all .3s;

}
.msg.error{
    color: red;
    background-color: rgb(250, 171, 171);
    transform: translate(0px);
    transition: all .3s;

}
.msg.success{
    color: rgb(1, 65, 1);
    background-color: rgb(154, 255, 167);
    transform: translate(0px);
    transition: all .3s;
}
input{
    border: 2px solid;
    border-radius: 3px;
}
input.error{
    border-color: red;
}
input.success{
    border-color: green;
}