*{
    box-sizing: border-box;
    margin: 10px 15px;
    padding: 10px 10px;
    background-color: darkgray;
}
input{
    border: 2px groove #fff;
    border-radius: 5px 8px 5px 8px;
    cursor: pointer;
    margin-left: 10px;
}
.age{
    margin-left: 50px;
}
.register{
    background-color: #fff;
    color: black;
    font-size: large;
}
.register:active{
    background-color: black;
    color: #fff;
    font-weight: 600;
}
.table1{
    background-color: #ce82cf;
    display: flex;
    align-items: first baseline;
}
.table2{
    background-color: #805df0;
    display: flex;
    align-items: first baseline;
}
.table{
    margin: 10px auto;
}
th{
    background-color: aquamarine;
}
th,td{
    border: 1px solid #000;
    padding: 10px;
    width: 100px;
}
tr:active{
    background-color: #f059f3;
    /* scale: 1.1; */
}