*{
    box-sizing: border-box;
    margin: 10px 15px;
    padding: 10px 10px;
    background-color: darkgray;
}
input{
    border: 2px groove #fff;
    border-radius: 5px 8px 5px 8px;
    cursor: pointer;
}
.register{

}