*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.image1{
    width: 100%;
    height: 400px;
    display: flex;
    padding: 15px;
    gap:10px;
}
.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
}
abbr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
}
progress{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
}
.get_number{
    background-color:#a9d180;
    padding: 15px;
    border-radius:5px;
    font-size: larger;
    font-weight: bold;
}
.even , .odd{
    padding: 15px;
    background-color: rgb(240, 165, 112);
    border-radius: 10px;
}
